### Download the datasets

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

In [4]:
import mysql.connector

In [95]:
conn = mysql.connector.connect(
    host="localhost",    
    user="root",   
    password="", 
    database="")

cursor = conn.cursor(buffered=True)

mysql.connector.connect(
    host = 
    user 
    password
    database

Load the SQL magic module

In [28]:
import pandas as pd
census_data = pd.read_csv("ChicagoCensusData.csv")
public_schools = pd.read_csv("ChicagoPublicSchools.csv")
crime_data = pd.read_csv("ChicagoCrimeData.csv")

In [94]:
def clean_column_names(dataframe):
    dataframe.columns = dataframe.columns.str.replace('[^0-9a-zA-Z_]', '_', regex=True)  
    dataframe.columns = dataframe.columns.str.replace('__+', '_', regex=True)           
    dataframe.columns = dataframe.columns.str.strip('_')                                
    return dataframe


census_data = clean_column_names(census_data)
public_schools = clean_column_names(public_schools)
crime_data = clean_column_names(crime_data)

print("Census Data Columns:", census_data.columns)
print("Public Schools Columns:", public_schools.columns)
print("Crime Data Columns:", crime_data.columns)

def create_table(cursor, table_name, dataframe):
    columns = ", ".join([
        f"`{col}` TEXT" if dataframe[col].dtype == 'object' else f"`{col}` FLOAT" 
        for col in dataframe.columns
    ])
    create_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns})"
    cursor.execute(create_query)

def insert_data(cursor, table_name, dataframe):
    placeholders = ", ".join(["%s"] * len(dataframe.columns))
    insert_query = f"INSERT INTO {table_name} VALUES ({placeholders})"
    for _, row in dataframe.iterrows():
        cursor.execute(insert_query, tuple(row))

create_table(cursor, "ChicagoCensusData", census_data)
insert_data(cursor, "ChicagoCensusData", census_data)

create_table(cursor, "ChicagoPublicSchools", public_schools)
insert_data(cursor, "ChicagoPublicSchools", public_schools)

create_table(cursor, "ChicagoCrimeData", crime_data)
insert_data(cursor, "ChicagoCrimeData", crime_data)

cursor.close()
conn.close()

Census Data Columns: Index(['COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME',
       'PERCENT_OF_HOUSING_CROWDED', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY',
       'PERCENT_AGED_16_UNEMPLOYED',
       'PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA',
       'PERCENT_AGED_UNDER_18_OR_OVER_64', 'PER_CAPITA_INCOME',
       'HARDSHIP_INDEX'],
      dtype='object')
Public Schools Columns: Index(['School_ID', 'NAME_OF_SCHOOL', 'Elementary_Middle_or_High_School',
       'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number', 'Link',
       'Network_Manager', 'Collaborative_Name',
       'Adequate_Yearly_Progress_Made', 'Track_Schedule',
       'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level',
       'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE',
       'Family_Involvement_Icon', 'Family_Involvement_Score',
       'Environment_Icon', 'Environment_Score', 'Instruction_Icon',
       'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon',
       'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score',
       'Parent_Environment_Icon', 'Parent_Environment_Score',
       'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts_per_100_students',
       'Average_Teacher_Attendance',
       'Individualized_Education_Program_Compliance_Rate', 'Pk_2_Literacy',
       'Pk_2_Math', 'Gr3_5_Grade_Level_Math', 'Gr3_5_Grade_Level_Read',
       'Gr3_5_Keep_Pace_Read', 'Gr3_5_Keep_Pace_Math',
       'Gr6_8_Grade_Level_Math', 'Gr6_8_Grade_Level_Read',
       'Gr6_8_Keep_Pace_Math', 'Gr6_8_Keep_Pace_Read', 'Gr_8_Explore_Math',
       'Gr_8_Explore_Read', 'ISAT_Exceeding_Math', 'ISAT_Exceeding_Reading',
       'ISAT_Value_Add_Math', 'ISAT_Value_Add_Read',
       'ISAT_Value_Add_Color_Math', 'ISAT_Value_Add_Color_Read',
       'Students_Taking_Algebra', 'Students_Passing_Algebra',
       '9th_Grade_EXPLORE_2009', '9th_Grade_EXPLORE_2010',
       '10th_Grade_PLAN_2009', '10th_Grade_PLAN_2010',
       'Net_Change_EXPLORE_and_PLAN', '11th_Grade_Average_ACT_2011',
       'Net_Change_PLAN_and_ACT', 'College_Eligibility', 'Graduation_Rate',
       'College_Enrollment_Rate', 'COLLEGE_ENROLLMENT',
       'General_Services_Route', 'Freshman_on_Track_Rate', 'X_COORDINATE',
       'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER',
       'COMMUNITY_AREA_NAME', 'Ward', 'Police_District', 'Location'],
      dtype='object')
Crime Data Columns: Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [64]:
cursor.execute("SELECT * FROM ChicagoCrimeData")
rows = cursor.fetchall() 
columns = [desc[0] for desc in cursor.description]
CCD = pd.DataFrame(rows, columns=columns)
CCD

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.8074405,-87.70395585,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.89827996,-87.71640551,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.81593313,-87.62464213,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.74366532,-87.56246276,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.7734553,-87.70648047,"(41.773455295, -87.706480471)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,10453948,HZ192829,2016-03-01,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,False,False,...,4,7.0,46.0,26,1196679.0,1853139.0,2016,41.75188515,-87.554826,"(41.751885152, -87.554825997)"
529,10397129,HZ133234,2016-01-29,006XX W HARRISON ST,5114,NON - CRIMINAL,FOID - REVOCATION,STREET,False,False,...,1,2.0,28.0,26,1172257.0,1897564.0,2016,41.87436328,-87.64301304,"(41.874363279, -87.643013039)"
530,3269495,HJ747227,2003-11-08,012XX W 81ST ST,510,RITUALISM,AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY,OTHER,False,False,...,6,21.0,71.0,04B,1169648.0,1851076.0,2003,41.74685249,-87.65394139,"(41.746852486, -87.653941385)"
531,10840565,JA143710,2017-02-06,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,11,37.0,23.0,26,1148881.0,1905963.0,2017,41.89789489,-87.72862232,"(41.89789489, -87.728622316)"
532,1326195,G021609,2001-01-11,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,True,True,...,4,None,None,08B,1196869.0,1847416.0,2001,41.73617608,-87.55431961,"(41.73617608, -87.554319607)"

In [54]:
cursor.execute("SELECT * FROM ChicagoPublicSchools")
rows = cursor.fetchall() 
columns = [desc[0] for desc in cursor.description]
CPS = pd.DataFrame(rows, columns=columns)
CPS

,School_ID,NAME_OF_SCHOOL,Elementary_Middle_or_High_School,Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.92449696,-87.64452163,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.76032435,-87.55673627,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.74711093,-87.73170248,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.29,1873959.199,41.8097569,-87.6721446,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.82814609,-87.63279369,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.79978772,-87.65025483,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.78984129,-87.62248974,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.92092734,-87.72192541,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.77339962,-87.59435584,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.83601953,-87.73419465,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [55]:
cursor.execute("SELECT * FROM ChicagoCensusData")
rows = cursor.fetchall() 
columns = [desc[0] for desc in cursor.description]
CD = pd.DataFrame(rows, columns=columns)
CD

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
382,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
383,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
384,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
385,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
386,None,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,None

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [57]:
query = "SELECT COUNT(*) AS total_crimes FROM ChicagoCrimeData"
cursor.execute(query)
results = cursor.fetchall()
results

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [60]:
query = "SELECT community_area_name, community_area_number FROM ChicagoCensusData WHERE per_capita_income < 11000;"
cursor.execute(query)
results = cursor.fetchall()
results

[('West Garfield Park', '26.0'),
 ('South Lawndale', '30.0'),
 ('Fuller Park', '37.0'),
 ('Riverdale', '54.0'),
 ('West Garfield Park', '26.0'),
 ('South Lawndale', '30.0'),
 ('Fuller Park', '37.0'),
 ('Riverdale', '54.0'),
 ('West Garfield Park', '26.0'),
 ('South Lawndale', '30.0'),
 ('Fuller Park', '37.0'),
 ('Riverdale', '54.0'),
 ('West Garfield Park', '26.0'),
 ('South Lawndale', '30.0'),
 ('Fuller Park', '37.0'),
 ('Riverdale', '54.0'),
 ('West Garfield Park', '26.0'),
 ('South Lawndale', '30.0'),
 ('Fuller Park', '37.0'),
 ('Riverdale', '54.0')]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [79]:
query = "SELECT DISTINCT case_number FROM ChicagoCrimeData WHERE description LIKE '%minor%';"
cursor.execute(query)
results = cursor.fetchall()
results

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [80]:
query = "SELECT DISTINCT case_number FROM ChicagoCrimeData WHERE primary_type = 'KIDNAPPING' AND description LIKE '%child%';"
cursor.execute(query)
results = cursor.fetchall()
results

[('HN144152',)]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [84]:
query = "SELECT DISTINCT PRIMARY_TYPE FROM ChicagoCrimeData WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';"
cursor.execute(query)
results = cursor.fetchall()
results

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [90]:
CPS['Elementary_Middle_or_High_School'].unique()

array(['ES', 'HS', 'MS'], dtype=object)

In [93]:
CPS

,School_ID,NAME_OF_SCHOOL,Elementary_Middle_or_High_School,Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.92449696,-87.64452163,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.76032435,-87.55673627,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.74711093,-87.73170248,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.29,1873959.199,41.8097569,-87.6721446,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.82814609,-87.63279369,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.79978772,-87.65025483,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.78984129,-87.62248974,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.92092734,-87.72192541,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.77339962,-87.59435584,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.83601953,-87.73419465,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [96]:
cursor.execute("SELECT * FROM ChicagoPublicSchools LIMIT 1")
columns = [desc[0] for desc in cursor.description]
print(columns)

['School_ID', 'NAME_OF_SCHOOL', 'Elementary_Middle_or_High_School', 'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number', 'Link', 'Network_Manager', 'Collaborative_Name', 'Adequate_Yearly_Progress_Made', 'Track_Schedule', 'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level', 'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE', 'Family_Involvement_Icon', 'Family_Involvement_Score', 'Environment_Icon', 'Environment_Score', 'Instruction_Icon', 'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon', 'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score', 'Parent_Environment_Icon', 'Parent_Environment_Score', 'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts_per_100_students', 'Average_Teacher_Attendance', 'Individualized_Education_Program_Compliance_Rate', 'Pk_2_Literacy', 'Pk_2_Math', 'Gr3_5_Grade_Level_Math', 'Gr3_5_Grade_Level_Read', 'Gr3_5_Keep_Pace_Read', 'Gr3_5_Keep_Pace_Math', 'Gr6_8_Grade_Level_Math', 'Gr6_8_Grade_Level_Read', 'Gr6_8_Keep_Pace_Math', 'Gr6_8_Keep_Pace_Read', 'Gr_8_Explore_Math', 'Gr_8_Explore_Read', 'ISAT_Exceeding_Math', 'ISAT_Exceeding_Reading', 'ISAT_Value_Add_Math', 'ISAT_Value_Add_Read', 'ISAT_Value_Add_Color_Math', 'ISAT_Value_Add_Color_Read', 'Students_Taking_Algebra', 'Students_Passing_Algebra', '9th_Grade_EXPLORE_2009', '9th_Grade_EXPLORE_2010', '10th_Grade_PLAN_2009', '10th_Grade_PLAN_2010', 'Net_Change_EXPLORE_and_PLAN', '11th_Grade_Average_ACT_2011', 'Net_Change_PLAN_and_ACT', 'College_Eligibility', 'Graduation_Rate', 'College_Enrollment_Rate', 'COLLEGE_ENROLLMENT', 'General_Services_Route', 'Freshman_on_Track_Rate', 'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME', 'Ward', 'Police_District', 'Location']

In [97]:
query = """
SELECT `Elementary_Middle_or_High_School`, AVG(SAFETY_SCORE) AS average_safety_score
FROM ChicagoPublicSchools
GROUP BY `Elementary_Middle_or_High_School`;
"""
cursor.execute(query)
results = cursor.fetchall()
results

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [102]:
querty = "SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM ChicagoCensusData ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5 ;"
cursor.execute(query)
results = cursor.fetchall()
results

[('Clearing', '8.9'),
 ('Garfield Ridge', '8.8'),
 ('Jefferson Park', '8.6'),
 ('Forest Glen', '7.5'),
 ('North Center', '7.5')]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [103]:
query = "SELECT community_area_number FROM ChicagoCrimeData GROUP BY community_area_number ORDER BY COUNT(*) DESC LIMIT 1;"
cursor.execute(query)
result = cursor.fetchone()
result

('25.0',)

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [105]:
query = "SELECT community_area_name,hardship_index FROM ChicagoCensusData WHERE hardship_index = (SELECT MAX(hardship_index) FROM ChicagoCensusData);"
cursor.execute(query)
result = cursor.fetchone()
result

('Riverdale', '98.0')

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [107]:
query = """
SELECT community_area_name
FROM ChicagoCensusData
WHERE community_area_number = (
    SELECT community_area_number
    FROM ChicagoCrimeData
    GROUP BY community_area_number
    ORDER BY COUNT(*) DESC
    LIMIT 1
);
"""
cursor.execute(query)
result = cursor.fetchone()
result

('Austin',)

## © IBM Corporation 2023. All rights reserved.